@model NewPasswordViewModel


<form asp-action="NewPassword" asp-controller="Home" method="post" class="p-3 w-75 m-auto">
    <input type="hidden" asp-for="userId" />
    <input type="hidden" asp-for="token" />
    <div class="mb-3">
        <label>Yeni Şifreyi Giriniz</label>
        <span class="text-danger" asp-validation-for="Password"></span>
        <input asp-for="Password" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Sifreyi Tekrar giriniz</label>
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
        <input asp-for="ConfirmPassword" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Sıfırla</button>
    </div>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <p>@TempData["message"]</p>
</form>


