@model UserResetPasswordPageVM

<form asp-action="ResetPassword" asp-controller="Home" method="post" class="p-3 w-75 m-auto">

    <div class="mb-3">
        <label>Email adresinizi giriniz</label>
        <span class="text-danger" asp-validation-for="UserModel.Email"></span>
        <input asp-for="UserModel.Email" class="form-control" />
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">Sıfırla</button>
    </div>
    <div>@TempData["message"]</div>
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
</form>

